{% extends "base.html" %}

{% block content %}
<div class="action_box">
    <h2>The answer</h2>

    {% if answer %}

        <h3>We think this is a:</h3>

        <h1>{{answer[0]['name']}}</h1>
        
        <p>Here are the successful matches on this identifier, and some useful info:</p>

        <table>
        {% for item in answer %}
            <tr><td>
            <h3>{{item['name']}}</h3>
            <p>{{item['description']}}</p>
            </td>
            <td>
            {% if item['url_prefix'] %}
                <p>Find it here: <a href="{{item['url_prefix']}}{{item['string']}}{{item['url_suffix']}}">{{item['url_prefix']}}{{string}}{{item['url_suffix']}}</a></p>
            {% endif %}
            {% if item['useful_links'] %}
                <p>Learn more: <a href="{{item['useful_links']}}">{{item['useful_links']}}</a></p>
            {% endif %}
            </td>
            </tr>
        {% endfor %}
        </table>
        
    {% else %}
    
        <h2>We don't know!</h2>
        
        <p>Why not <a href="/">submit</a> an identifier test for it?</p>
    
    {% endif %}

</div>
{% endblock %}

