{% extends "base.html" %}

{% block content %}
<div class="action_box">


      <div class="hero-unit">
        <h2>Identify</h2>

        <p>Submit an identifier and we will try to tell you what it is.</p>

        <form action="/identify" method="POST" enctype="multipart/form-data">
        <input class="frontin" type="text" name="q" value="/^(IDHelp).*?$/" />

        <input class="btn primary span2" type="submit" name="submit" value="submit" />

        </form>

        <p><small>example: 10.1186/1758-2946-3-47</small></p>
      </div>

</div>
{% endblock %}

