{% extends "base.html" %}

{% block content %}
<div class="action_box">
    <form action="/identify" method="POST" enctype="multipart/form-data">
    <fieldset>

        <h2>Identify</h2>

        <p>Submit an identifier and we will try to tell you what it is.</p>

        <div class="clearfix">
        <label for="regex">String</label>
        <div class="input">
        <input class="span6" type="text" name="string" />
        </div>
        </div>

        <div class="clearfix">
        <label for="submit">&nbsp;</label>
        <div class="input"><input class="btn primary span6" type="submit" name="submit" value="submit" /></div>
        </div>

    </fieldset>
    </form>
</div>
{% endblock %}

