{% extends "base.html" %}

{% block content %}
<div class="action_box">
    <h1>{{string}}</h1>

    {% if answer %}

        <h1>{{answer[0]['name']}}</h1>
        
        <p>Here are the successful matches on this identifier, and some useful info:</p>

        <table>
        {% for item in answer %}
            <tr><td>
            <h3>{{item['name']}}</h3>
            <p>{{item['description']}}</p>
            </td>
            <td class="span6">
            {% if item['url_prefix'] %}
                <p>Find it here: <a href="{{item['url_prefix']}}{{string}}{{item['url_suffix']}}">{{item['url_prefix']}}{{string}}{{item['url_suffix']}}</a></p>
            {% endif %}
            {% if item['useful_links'] %}
                <p>Learn more</p>
                <ul>
                {% for link in item['useful_links'] %}
                    <li><a href="{{link}}">{{link}}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            </td>
            </tr>
        {% endfor %}
        </table>
        
    {% else %}
    
        <h2>We don't know!</h2>
        
        <p>Why not <a href="/">submit</a> an identifier test for it?</p>
    
    {% endif %}

</div>
{% endblock %}

