{% extends "base.html" %}

{% block content %}
<div class="action_box">
	<h1>Tests and descriptions we use to identify identifiers</h1>
	<p><a href="/submit">Submit a new one and see it appear on this page!</a></p>

    {% if things %}
		{% for thing in things %}
		
			{# Print headings: 
			print 'Tests' if the current item is a test and we've not printed 'Tests' before
			
			print 'Descriptions' for the same conditions
			
			This means that the headings will only be printed once - before the first test, and before the first description, respectively (and only if there IS a test / description to display).
			
			They are guaranteed to be a continous list of tests and then descriptions (which one is first doesn't matter). #}
			
			{% if thing['_type'] == 'test' %}
				{% if curtype != 'Tests' %}
					{% set curtype = 'Tests' %}
					<h2>{{curtype}}</h2>
				{% endif %}
				
			{% elif thing['_type'] == 'description' %}
				{% if curtype != 'Descriptions' %}
					{% set curtype = 'Descriptions' %}
					<h2>{{curtype}}</h2>
				{% endif %}
			{% endif %}
			<div>
			
				{# If we want to be able to link to each test/descr. on this page we need to provide a link. Linking to the <h3> title doesn't work well, because the fixed navigation bar always covers it. So we need an invisible anchor ABOVE the title. #}
				<a name="{{thing['_source']['name']}}" style="line-height:3.5em;">&nbsp;</a>
				<h3>{{thing['_source']['name']}} <small><a title="Copy this - direct link to this item on this page" alt="Copy this - direct link to this item on this page" href="#{{thing['_source']['name']}}">#</a></small></h3>
				
				<table>
					
					<!-- sets the visuals of the table and so is always displayed, even if description is empty -->
					<tr>
						<td width="20%">Description</td>
						<td>{{thing['_source']['description']}}</td>
					</tr>
					
					{% if thing['_source']['regex'] %}
					<tr>
						<td>Regular expression</td>
						<td>{{thing['_source']['regex']}}</td>
					</tr>
					{% endif %}
					
					{% if thing['_source']['score_feedback'] %}
					<tr>
						<td>Accuracy (user feedback)</td>
						<td>{{thing['_source']['score_feedback']}}</td>
					</tr>
					{% endif %}
					
					{% if thing['_source']['votes_feedback'] %}
					<tr>
						<td>Times rated</td>
						<td>{{thing['_source']['votes_feedback']}}</td>
					</tr>
					{% endif %}
					
					{% if thing['_source']['auto_succeeded'] %}
					<tr>
						<td>Identification successes (automatic)</td>
						<td>{{thing['_source']['auto_succeeded']}}</td>
					</tr>
					{% endif %}
					
					{% if thing['_source']['url_prefix'] %}
					<tr>
						<td>Service URL prefix</td>
						<td>{{thing['_source']['url_prefix']}}</td>
					</tr>
					{% endif %}
					
					{% if thing['_source']['url_suffix'] %}
					<tr>
						<td>Service URL suffix</td>
						<td>{{thing['_source']['url_suffix']}}</td>
					</tr>
					{% endif %}
					
					{% if thing['_source']['resptests'] %}
					<tr>
						<td>Response conditions</td>
						<td>
						<ul>
						{% for rc in thing['_source']['resptests'] %}
							<li>{{rc['type']}} {{rc['cond']}} "{{rc['str']}}"</li>
						{% endfor %}
						</ul>
						</td>
					</tr>
					{% endif %}
					
					{% if thing['_source']['useful_links'] %}
					<tr>
						<td>Learn more</td>
						<td>
						<ul>
						{% for link in thing['_source']['useful_links'] %}
							<li><a href="{{link}}">{{link}}</a></li>
						{% endfor %}
						</ul>
						</td>
					</tr>
					{% endif %}
					
					{% if thing['_source']['tags'][0] %}
					<tr>
						<td>Tags</td>
						<td>
						{{ thing['_source']['tags']|join(', ') }}
						</td>
					</tr>
					{% endif %}
					
					<tr>
						<td>Submitted by</td>
						<td>{{thing['_source']['owner']}}</td>
					</tr>
					
					<tr>
						<td>Created on</td>
						{#
						{{thing['_source']['created'] | dtformat}} - doesn't work, 'created' and 'modified' seem to be unicode strings and the filter defined in web.py errors out with
						
						AttributeError: 'unicode' object has no attribute 'strftime'
						
						So these strings are unformatted for now, displayed as they were in the ES index.
						#}
						<td>{{thing['_source']['created']}}</td>
					</tr>
					
					<tr>
						<td>Last modified</td>
						<td>{{thing['_source']['modified']}}</td>
					</tr>
					
				</table>
				
			</div>
		{% endfor %}
	{% else %}
		<p>We don't have any tests or descriptions! Go on, <a href="/submit">submit one!</a></p>
    {% endif %}

</div>
{% endblock %}

