{% extends "base.html" %}

{% block content %}

      <div class="hero-unit">
        <form action="/identify" method="POST" enctype="multipart/form-data">
        <input class="frontin" type="text" name="q" value="/^(IDFind).*?$/" />
        </form>
        <p>ID Find is an identifier identifier!
        <br />Got an ID? Not sure what it is? What you can do with it? Just paste above and hit enter!</p>
        <p><small>example: 10.1186/1758-2946-3-47</small></p>
      </div>

      <div class="row">
        <div class="span4 column">
          <div class="alert-message block-message info">
          <h2>Browse</h2>
          <p>Have a look at the tests and descriptions which help us identify identifiers.</p>
          <p><a href="/browse" class="btn">Browse &raquo;</a></p>
          </div>
        </div>
        <div class="span4 column info">
          <div class="alert-message block-message info">
          <h2>Identify</h3>
          <p>You got a string, it looks like some sort of identifer, but which is it?</p>
          <p><a href="/identify" class="btn">Identify &raquo;</a></p>
          </div>
        </div>
        <div class="span4 column">
          <div class="alert-message block-message info">
          <h2>Submit</h2>
          <p>Help us identify identifiers - submit a test or a description</p>
          <p><a href="/submit" class="btn">Submit &raquo;</a></p>
          </div>
        </div>
        <div class="span4 column">
          <div class="alert-message block-message info">
          <h2>Rate</h2>
          <p>You used the service - now rate the quality of the response</p>
          <p><a href="/rate" class="btn">Rate &raquo;</a></p>
          </div>
        </div>
      </div>
      
      <div class="container">
      <div class="well">
      <p>latest stuff</p>
      </div>
      </div>
{% endblock %}
